/* Color palette generator - Style */

* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background: rgba(25, 3, 85, 0.832);
  width: 100%;
  height: 100vh;
}

body h2 {
  text-align: center;
  font-weight: 900;
  font-size: 28px;
  color: #fff;
  padding-top: 30px;
}

.container {
  position: absolute;
  padding: 20px;
  width: 600px;
  max-width: 60%;
  min-height: 600px;
  max-height: 80%;
  background-color: #fff;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#inputNoSection {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: rgba(172, 148, 238, 0.832);
  /* color: #fff; */
  border-radius: 10px;
}

#inputNoSection #inputno {
  margin-top: 10px;
  padding: 6px;
  border-radius: 4px;
  background-color: aliceblue;
  outline: 0;
}

#actionBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}

#actionBtn #generateBtn {
  padding: 10px;
  margin: 20px;
  width: 150px;
  border-radius: 4px;
  outline: 0;
  border: 0;
  font-size: 16px;
  font-weight: 800;
  background-color: #3c8103;
  color: #fff;
  cursor: pointer;
}

.resultDiv {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
  align-items: center;

}

.resultDiv .colorDiv {
  margin: 4px;
  border-radius: 4px;
  width: 100px;
  height: 100px;
  display: grid;
  background-color: #3c8103;
  justify-content: space-evenly;
  align-items: center;

}

.colorDiv .colorText {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.colorText::before {
  content: '#';
}